.move-btn-toolbar {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.move-btn {
  align-items: center;
  background: none;
  border: none;
  color: #5000ff;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  transition: 0.3s;
  z-index: 2;

  img {
    display: block;
    position: relative;
    top: -25px;
    transition: 0.3s $ease;
  }

  span {
    position: relative;

      &::before, &::after {
      content: '';
      position: absolute;
      width: 75%;
      height: 100%;
      z-index: -1;
      opacity: 0.5;
      transition: 0.3s;
    }

    &::before {
      background-color: #faa6ff;
      left: -20%;
      top: 13%;
    }

    &::after {
      background-color: #62dbff;
      right: -20%;
      top: -10%;
    }
  }
}

.move-btn:hover {
  color: white;

  span::before, span::after {
    top: 0%;
    background-color: #5000ff;
    opacity: 1;
  }

  img {
    transform: translateY(-13px)
  }
}
